* {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans Condensed";
    padding: 20px 80px;
    /* background-color: black; */
    /* color: white; */
}

a {
    text-decoration: none;
    color: black;
    /* color: white; */
}